.cDJRaW {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/*!sc*/

data-styled.g1[id="bzx27k-0"] {
    content: "cDJRaW,"
}
/*!sc*/

.gyVUft {
    max-width: 520px;
    display: grid;
    background: #2b2d31;
    border-radius: 4px;
    border-left: 4px solid #202225;
}
/*!sc*/

.gyVUft,
.gyVUft * {
    unicode-bidi: plaintext;
    text-align: left;
}
/*!sc*/

data-styled.g6[id="z4zgh4-0"] {
    content: "gyVUft,"
}
/*!sc*/

.cIQiIg {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}
/*!sc*/

.cIQiIg:disabled {
    cursor: default;
}
/*!sc*/

data-styled.g8[id="sc-1tsppy2-0"] {
    content: "cIQiIg,"
}
/*!sc*/

.cygPfl {
    display: inline-block;
    min-width: 60px;
    min-height: 36px;
    max-height: 36px;
    padding: 0 14px;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    -webkit-transition: 167ms;
    transition: 167ms;
    -webkit-transition-property: background-color, border-color, color;
    transition-property: background-color, border-color, color;
}
/*!sc*/

data-styled.g9[id="ra4iuj-0"] {
    content: "cygPfl,"
}
/*!sc*/

.olJqx {
    background: #5865f2;
    border-color: #5865f2;
    color: #fff;
}
/*!sc*/

.olJqx:hover {
    background: #4752c4;
    border-color: #4752c4;
}
/*!sc*/

.olJqx:focus {
    border-color: #fff;
}
/*!sc*/

.olJqx:active {
    background: #3c45a5;
    border-color: #3c45a5;
}
/*!sc*/

.olJqx:disabled {
    background: transparent;
    border-color: #4f545c;
    color: #949ba4;
}
/*!sc*/

data-styled.g10[id="sc-1kpfp52-0"] {
    content: "olJqx,"
}
/*!sc*/

.eRSwdL {
    border-color: rgba(185, 187, 190, 0.5);
    color: #fff;
}
/*!sc*/

.eRSwdL:hover {
    background: rgba(79, 84, 92, 0.24);
}
/*!sc*/

.eRSwdL:focus {
    border-color: #5865f2;
}
/*!sc*/

.eRSwdL:active {
    background: #202225;
    border-color: #202225;
}
/*!sc*/

.eRSwdL:disabled {
    background: transparent;
    border-color: #4f545c;
    color: #949ba4;
}
/*!sc*/

data-styled.g11[id="sc-1bheiy9-0"] {
    content: "eRSwdL,"
}
/*!sc*/

.dbxese > * {
    z-index: 30;
}
/*!sc*/

data-styled.g16[id="sc-1ru3l2d-0"] {
    content: "dbxese,"
}
/*!sc*/

@font-face {
    font-family: Whitney;
    src: local("Whitney"), url("static/whitney-300.woff2"), url("static/whitney-300.woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
/*!sc*/

@font-face {
    font-family: Whitney;
    src: local("Whitney"), url("static/whitney-400.woff2"), url("static/whitney-400.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
/*!sc*/

@font-face {
    font-family: Whitney;
    src: local("Whitney"), url("static/whitney-500.woff2"), url("static/whitney-500.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
/*!sc*/

@font-face {
    font-family: Whitney;
    src: local("Whitney"), url("static/whitney-600.woff2"), url("static/whitney-600.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
/*!sc*/

@font-face {
    font-family: Whitney;
    src: local("Whitney"), url("static/whitney-700.woff2"), url("static/whitney-700.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
/*!sc*/

html,
body {
    padding: 0;
    margin: 0;
    background: #313338;
    line-height: 1;
    color: #dbdee1;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    height: 100%;
    overflow: hidden;
}
/*!sc*/

button,
input,
textarea {
    font-family: inherit;
}
/*!sc*/

#app,
#__next {
    height: 100%;
}
/*!sc*/

pre,
code {
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
}
/*!sc*/

a {
    color: #00a8fc;
    -webkit-text-decoration: none;
    text-decoration: none;
}
/*!sc*/

a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
/*!sc*/

img {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/*!sc*/

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-scrollbar-color: #202225 #2e3338;
    -moz-scrollbar-color: #202225 #2e3338;
    -ms-scrollbar-color: #202225 #2e3338;
    scrollbar-color: #202225 #2e3338;
    -webkit-scrollbar-width: auto;
    -moz-scrollbar-width: auto;
    -ms-scrollbar-width: auto;
    scrollbar-width: auto;
}
/*!sc*/

*::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}
/*!sc*/

*::-webkit-scroll-corner {
    background-color: transparent;
}
/*!sc*/

*::-webkit-scrollbar-thumb {
    background-color: #202225;
    border: 4px solid transparent;
    border-radius: 8px;
    min-height: 40px;
    background-clip: padding-box;
}
/*!sc*/

*::-webkit-scrollbar-track {
    background-color: #2e3338;
    border: 4px solid transparent;
    border-radius: 8px;
    margin-bottom: 8px;
    background-clip: padding-box;
}
/*!sc*/

*::-webkit-scrollbar-corner {
    background-color: transparent;
}
/*!sc*/

*::-webkit-resizer {
    background-image: url("static/resizer-dark.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}
/*!sc*/

data-styled.g17[id="sc-global-iYDrAf1"] {
    content: "sc-global-iYDrAf1,"
}
/*!sc*/

.cWPaBd > * {
    z-index: 40;
}
/*!sc*/

data-styled.g20[id="den5bi-0"] {
    content: "cWPaBd,"
}
/*!sc*/

.bbmwyd {
    margin: 16px;
    padding: 96px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    color: #b9bbbe;
    font-size: 16px;
}
/*!sc*/

data-styled.g21[id="sc-1al5n2i-0"] {
    content: "bbmwyd,"
}
/*!sc*/

.dPeOyA {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}
/*!sc*/

.dPeOyA > svg {
    color: #dcddde;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
/*!sc*/

data-styled.g22[id="sc-1al5n2i-1"] {
    content: "dPeOyA,"
}
/*!sc*/

.livvcH {
    margin: 0;
    color: #dcddde;
    font-size: 21px;
}
/*!sc*/

data-styled.g23[id="sc-1al5n2i-2"] {
    content: "livvcH,"
}
/*!sc*/

.ktXFrO {
    margin: 0 0 20px;
    line-height: 1.375;
}
/*!sc*/

data-styled.g24[id="sc-1al5n2i-3"] {
    content: "ktXFrO,"
}
/*!sc*/

.cWofxV {
    margin: 0 0 4px;
    line-height: 1.375;
}
/*!sc*/

data-styled.g25[id="sc-1al5n2i-4"] {
    content: "cWofxV,"
}
/*!sc*/

.iTrSQc {
    margin-bottom: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}
/*!sc*/

data-styled.g26[id="sc-1al5n2i-5"] {
    content: "iTrSQc,"
}
/*!sc*/

.dwIIwZ {
    margin: 0 16px 8px 0;
    line-height: 1.5;
    color: inherit;
}
/*!sc*/

.dwIIwZ:not(:disabled):hover {
    color: #dcddde;
}
/*!sc*/

.dwIIwZ:not(:disabled):focus {
    color: #fff;
}
/*!sc*/

data-styled.g27[id="sc-1al5n2i-6"] {
    content: "dwIIwZ,"
}
/*!sc*/

.guZwGO {
    margin: 0;
    font-size: 11px;
    line-height: 1.25;
}
/*!sc*/

data-styled.g28[id="sc-1al5n2i-7"] {
    content: "guZwGO,"
}
/*!sc*/

.liXFtp {
    color: #b9bbbe;
}
/*!sc*/

.liXFtp:disabled {
    color: #4f545c;
}
/*!sc*/

.liXFtp:not(:disabled):hover {
    color: #dcddde;
}
/*!sc*/

.liXFtp:not(:disabled):focus {
    color: #fff;
}
/*!sc*/

data-styled.g29[id="sy19wy-0"] {
    content: "liXFtp,"
}
/*!sc*/

.efbBVv {
    padding: 8px;
    margin: -8px 0;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}
/*!sc*/

.efbBVv > svg {
    display: block;
}
/*!sc*/

data-styled.g30[id="sc-2r5bc6-0"] {
    content: "efbBVv,"
}
/*!sc*/

.iGVEAk {
    border: 0 none;
    -webkit-clip: rect(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    overflow-wrap: normal;
}
/*!sc*/

data-styled.g31[id="sc-1cos5z-0"] {
    content: "iGVEAk,"
}
/*!sc*/

.TyuPn {
    height: 100%;
    padding: 0 8px;
    margin: 0 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    position: relative;
}
/*!sc*/

.TyuPn:hover,
.TyuPn:focus {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
/*!sc*/

@media screen and (max-width: 512px) {
    .TyuPn {
        height: 48px;
        width: calc(100% - 24px);
    }
}
/*!sc*/

data-styled.g32[id="sc-1y4hmuj-0"] {
    content: "TyuPn,"
}
/*!sc*/

.gROlCz {
    height: 48px;
    min-height: 48px;
    padding: 0 4px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    border: solid transparent;
    border-width: 1px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}
/*!sc*/

.gROlCz::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 48px;
    background: #313338;
    border-bottom: 1px solid #202225;
}
/*!sc*/

.gROlCz > * {
    z-index: 12;
}
/*!sc*/

data-styled.g36[id="qebqlo-0"] {
    content: "gROlCz,"
}
/*!sc*/

.cDSiUZ {
    height: 100%;
    padding: 0 12px;
}
/*!sc*/

.cDSiUZ > svg {
    height: 24px;
    width: 24px;
    display: block;
}
/*!sc*/

data-styled.g37[id="qebqlo-1"] {
    content: "cDSiUZ,"
}
/*!sc*/

.gmjYMo {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*!sc*/

@media screen and (max-width: 512px) {
    .gmjYMo {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 47px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        background: #313338;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
        z-index: 11;
    }
}
/*!sc*/

@media not screen and (max-width: 512px) {
    .gmjYMo {
        z-index: 12;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }
}
/*!sc*/

data-styled.g38[id="qebqlo-2"] {
    content: "gmjYMo,"
}
/*!sc*/

.fgFxmP {
    position: fixed;
    width: 100%;
    height: calc(100% - 48px);
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.35);
    z-index: 10;
}
/*!sc*/

data-styled.g39[id="qebqlo-3"] {
    content: "fgFxmP,"
}
/*!sc*/

.fZuxYw {
    margin: 0 8px;
    display: none;
}
/*!sc*/

@media screen and (max-width: 512px) {
    .fZuxYw {
        display: block;
    }
}
/*!sc*/

data-styled.g40[id="qebqlo-4"] {
    content: "fZuxYw,"
}
/*!sc*/

.dWrjaT {
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*!sc*/

.dWrjaT .ra4iuj-0 {
    margin-left: 8px;
}
/*!sc*/

data-styled.g49[id="sc-5vvyr0-0"] {
    content: "dWrjaT,"
}
/*!sc*/

.kykUMm {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
/*!sc*/

.kykUMm:not(:empty) {
    margin-bottom: 4px;
}
/*!sc*/

data-styled.g50[id="sc-1szbp18-0"] {
    content: "kykUMm,"
}
/*!sc*/

.jQDPPo {
    display: grid;
    gap: 16px;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
/*!sc*/

.evedhr {
    display: grid;
    gap: 8px;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
/*!sc*/

.jQDPRQ {
    display: grid;
    gap: 12px;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
/*!sc*/

data-styled.g58[id="sc-1b9nc0h-0"] {
    content: "jQDPPo,evedhr,jQDPRQ,"
}
/*!sc*/

.cbFGri {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-bottom: -8px;
}
/*!sc*/

.cbFGri > * {
    margin-right: 12px;
    margin-bottom: 8px;
}
/*!sc*/

data-styled.g67[id="s4tkdn-0"] {
    content: "cbFGri,"
}
/*!sc*/

.dYrFPI {
    height: 1px;
    background: rgba(255, 255, 255, 0.06);
}
/*!sc*/

data-styled.g68[id="sc-13r9wx3-0"] {
    content: "dYrFPI,"
}
/*!sc*/

.HcXJX {
    height: 1.375em;
    width: 1.375em;
    object-fit: contain;
    vertical-align: bottom;
}
/*!sc*/

.z4zgh4-0 .njfyk0-0 {
    height: 18px;
    width: 18px;
}
/*!sc*/

data-styled.g72[id="njfyk0-0"] {
    content: "HcXJX,"
}
/*!sc*/

.heOpKb {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.375;
}
/*!sc*/

data-styled.g76[id="sc-27l7o2-0"] {
    content: "heOpKb,"
}
/*!sc*/

.jNbzYN {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/*!sc*/

data-styled.g78[id="sc-1etam5u-0"] {
    content: "jNbzYN,"
}
/*!sc*/

.kMYZze {
    padding: 0 9px;
    height: 36px;
    min-width: 0;
    max-width: 100%;
    background: #292b2f;
    border: 2px solid transparent;
    border-radius: 3px;
    outline: none;
    color: #dbdee1;
    font-size: 16px;
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-transition-property: background-color, border-color, color;
    transition-property: background-color, border-color, color;
    unicode-bidi: plaintext;
}
/*!sc*/

textarea.sc-1uclq73-0 {
    padding: 5.5px 9px;
    min-height: 36px;
    resize: vertical;
}
/*!sc*/

.kMYZze:focus {
    border-color: #5865f2;
}
/*!sc*/

.kMYZze:disabled {
    border-color: #4f545c;
    background: transparent;
    color: #949ba4;
}
/*!sc*/

.kMYZze:invalid {
    box-shadow: none;
}
/*!sc*/

.kMYZze::-webkit-input-placeholder {
    color: #b9bbbe;
}
/*!sc*/

.kMYZze::-moz-placeholder {
    color: #b9bbbe;
}
/*!sc*/

.kMYZze:-ms-input-placeholder {
    color: #b9bbbe;
}
/*!sc*/

.kMYZze::placeholder {
    color: #b9bbbe;
}
/*!sc*/

data-styled.g79[id="sc-1uclq73-0"] {
    content: "kMYZze,"
}
/*!sc*/

.bsaUTC {
    margin-left: 6.5px;
    color: #dbdee1;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
}
/*!sc*/

data-styled.g80[id="iamco5-0"] {
    content: "bsaUTC,"
}
/*!sc*/

.sc-1etam5u-0 > .sc-7tcyzw-0 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*!sc*/

data-styled.g81[id="sc-7tcyzw-0"] {
    content: "gxcxxR,"
}
/*!sc*/

.byGHPi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin: 0 -8px;
}
/*!sc*/

data-styled.g87[id="sc-119c5qa-0"] {
    content: "byGHPi,"
}
/*!sc*/

.gSuxWU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -8px;
    padding: 0 8px;
}
/*!sc*/

.caYFbr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}
/*!sc*/

data-styled.g88[id="sc-16nv4v-0"] {
    content: "gSuxWU,caYFbr,"
}
/*!sc*/

.gkHYsN {
    width: 4px;
}
/*!sc*/

data-styled.g89[id="sc-16nv4v-1"] {
    content: "gkHYsN,"
}
/*!sc*/

.dJPRDj {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*!sc*/

.dtkTyD {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #292b2f;
    border-left: none;
    padding: 15px;
    border-radius: 0 4px 4px 0;
}
/*!sc*/

data-styled.g90[id="sc-16nv4v-2"] {
    content: "dJPRDj,dtkTyD,"
}
/*!sc*/

.iXKZHy {
    display: grid;
    grid-template-columns: 1fr max-content;
    height: 32px;
}
/*!sc*/

.cOZdCo {
    display: grid;
    grid-template-columns: 1fr max-content;
    height: 32px;
    margin: -8px 0;
}
/*!sc*/

data-styled.g91[id="sc-16nv4v-3"] {
    content: "iXKZHy,cOZdCo,"
}
/*!sc*/

.bZgFcs {
    min-width: 0;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*!sc*/

data-styled.g92[id="sc-16nv4v-4"] {
    content: "bZgFcs,"
}
/*!sc*/

.cWENJU {
    margin-left: -8px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform 150ms;
    -webkit-transition: transform 150ms;
    transition: transform 150ms;
}
/*!sc*/

data-styled.g93[id="sc-16nv4v-5"] {
    content: "cWENJU,"
}
/*!sc*/

.httcob {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: -8px 0;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #b9bbbe;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*!sc*/

.rNDFT {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: -8px 0;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #b9bbbe;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    line-height: 16px;
    color: #fff;
}
/*!sc*/

data-styled.g94[id="sc-16nv4v-6"] {
    content: "httcob,rNDFT,"
}
/*!sc*/

.iWPkxT {
    color: #ff7a6b;
    margin-right: 8px;
}
/*!sc*/

data-styled.g95[id="sc-16nv4v-7"] {
    content: "iWPkxT,"
}
/*!sc*/

.lbAouH:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
}
/*!sc*/

.cwdRyw:not(:empty) {
    padding-top: 16px;
    padding-bottom: 0px;
}
/*!sc*/

data-styled.g96[id="sc-16nv4v-8"] {
    content: "lbAouH,cwdRyw,"
}
/*!sc*/

input:focus + .ihqurp.ihqurp {
    background: #202225;
    border-color: #202225;
}
/*!sc*/

data-styled.g118[id="sc-6sd4v1-0"] {
    content: "ihqurp,"
}
/*!sc*/

.hKhnDi {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*!sc*/

input:focus + .hKhnDi.hKhnDi {
    border-color: #5865f2;
}
/*!sc*/

data-styled.g119[id="sc-3b0b62-0"] {
    content: "hKhnDi,"
}
/*!sc*/

@media screen and (max-width: 1024px) {
    .gfaSIn {
        display: none;
    }
}
/*!sc*/

data-styled.g120[id="sc-3b0b62-1"] {
    content: "gfaSIn,"
}
/*!sc*/

.ewdeat {
    margin-top: -8px;
    font-size: 15px;
}
/*!sc*/

data-styled.g121[id="gy799t-0"] {
    content: "ewdeat,"
}
/*!sc*/

.fGAPJg {
    margin-bottom: 8px;
}
/*!sc*/

.fGAPJg:empty {
    margin: 0;
}
/*!sc*/

data-styled.g122[id="gy799t-1"] {
    content: "fGAPJg,"
}
/*!sc*/

.eenpRT {
    padding: 16px 16px 0;
}
/*!sc*/

data-styled.g124[id="m64dfz-0"] {
    content: "eenpRT,"
}
/*!sc*/

.ekJmEe {
    display: block;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    border: 2px solid #ff7a6b;
    background: rgba(255, 122, 107, 0.25);
    color: #fff;
    font-weight: 500;
    line-height: 1.375;
}
/*!sc*/

data-styled.g125[id="m64dfz-1"] {
    content: "ekJmEe,"
}
/*!sc*/

.lebTxm {
    position: relative;
    margin-left: -4.5rem;
    padding-left: 4.5rem;
}
/*!sc*/

data-styled.g126[id="sgp62q-0"] {
    content: "lebTxm,"
}
/*!sc*/

.dLWNvE {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    left: 0;
    top: 0.125rem;
    margin: 0 1rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
/*!sc*/

.dLWNvE:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}
/*!sc*/

.dLWNvE:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
/*!sc*/

@media screen and (max-width: 1024px) {
    .dLWNvE {
        display: none;
    }
}
/*!sc*/

data-styled.g127[id="sgp62q-1"] {
    content: "dLWNvE,"
}
/*!sc*/

.hfwuZw {
    display: inline;
    vertical-align: baseline;
    margin: 0 0.25rem 0 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    word-wrap: break-word;
    cursor: pointer;
}
/*!sc*/

data-styled.g128[id="sgp62q-2"] {
    content: "hfwuZw,"
}
/*!sc*/

.gtwFiX {
    position: relative;
    top: -0.1rem;
    min-height: 1.275em;
    max-height: 1.275em;
    margin: 0.075em 0.25rem 0 0;
    padding: 0.071875rem 0.275rem;
    border-radius: 3px;
    background: #5865f2;
    color: #fff;
    font-size: 0.625em;
    font-weight: 500;
    line-height: 1.3;
    vertical-align: baseline;
    text-transform: uppercase;
}
/*!sc*/

data-styled.g129[id="sgp62q-3"] {
    content: "gtwFiX,"
}
/*!sc*/

.dQAxvm {
    min-width: 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
/*!sc*/

data-styled.g134[id="rgqgux-0"] {
    content: "dQAxvm,"
}
/*!sc*/

.dHHIIV {
    min-width: 0;
    margin: 0 0 1px;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
}
/*!sc*/

data-styled.g135[id="rgqgux-1"] {
    content: "dHHIIV,"
}
/*!sc*/

.eEQnAT {
    min-width: 0;
}
/*!sc*/

.eEQnAT > .sc-27l7o2-0 {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #dbdee1;
    white-space: pre-line;
}
/*!sc*/

data-styled.g136[id="rgqgux-2"] {
    content: "eEQnAT,"
}
/*!sc*/

.bdFBtt {
    padding: 0.5rem 1rem 1rem 0.75rem;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
/*!sc*/

data-styled.g144[id="sc-3qrykn-0"] {
    content: "bdFBtt,"
}
/*!sc*/

.bsDYtY {
    min-width: 0;
    display: inline-block;
    margin: 8px 0 0;
    grid-column: 1 / 2;
}
/*!sc*/

.bsDYtY > .sc-27l7o2-0 {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}
/*!sc*/

data-styled.g145[id="sc-3qrykn-1"] {
    content: "bsDYtY,"
}
/*!sc*/

.cYrkmj {
    min-width: 0;
    margin: 8px 0 0;
    grid-column: 1 / 2;
}
/*!sc*/

.cYrkmj > .sc-27l7o2-0 {
    font-size: 0.875rem;
    color: #dbdee1;
    line-height: 1.125rem;
    white-space: pre-line;
}
/*!sc*/

data-styled.g148[id="sc-3qrykn-3"] {
    content: "cYrkmj,"
}
/*!sc*/

.hQKgZF {
    min-width: 0;
    margin: 8px 0 0;
    display: grid;
    grid-column: 1 / 2;
    grid-gap: 8px;
}
/*!sc*/

data-styled.g149[id="sc-3qrykn-4"] {
    content: "hQKgZF,"
}
/*!sc*/

.knnFwV {
    margin-top: 1rem;
    padding: 0.125rem 16px 0.125rem 4.5rem;
    min-height: 2.75rem;
}
/*!sc*/

@media screen and (max-width: 1024px) {
    .knnFwV {
        padding-left: 16px;
    }
}
/*!sc*/

data-styled.g153[id="kn3fae-0"] {
    content: "knnFwV,"
}
/*!sc*/

.eKjosW {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    padding: 0.125rem 0;
    text-indent: 0;
}
/*!sc*/

.eKjosW > * {
    justify-self: start;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
}
/*!sc*/

data-styled.g155[id="kn3fae-2"] {
    content: "eKjosW,"
}
/*!sc*/

.edqZuS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
/*!sc*/

data-styled.g156[id="nf398x-0"] {
    content: "edqZuS,"
}
/*!sc*/

.foeGiT {
    max-height: calc(100% - 48px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*!sc*/

.foeGiT > * {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}
/*!sc*/

data-styled.g157[id="nf398x-1"] {
    content: "foeGiT,"
}
/*!sc*/